<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('MAC Address') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.MAC">
        </div>
    </div>
</form>
<BR>
Octoprint Startup
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('R') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.SUR" size="2">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('G') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.SUG">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('B') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.SUB">
        </div>
    </div>
</form>
<BR>
Connected 
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('R') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.CONR">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('G') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.CONG">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('B') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.CONB">
        </div>
    </div>
</form>
<BR>
Client Opened
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('R') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.COR">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('G') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.COG">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('B') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.COB">
        </div>
    </div>
</form>
<BR>
Print Done
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('R') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.PDR">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('G') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.PDG">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('B') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.PDB">
        </div>
    </div>
</form>
<BR>
Shutdown
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('R') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.SDR">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('G') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.SDG">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('B') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.helloworld.SDB">
        </div>
    </div>
</form>

